<div class="recepies-page">
    <div class="login">
        <form action="login" method="post">
            <label>Username: </label>
            <input class="input" type="text" id="username" name="username"> <br/><br/>
            <label>Password: </label>
            <input class="input" type="password" id="password" name="password"> <br/><br/>
            <input id="button-log" type="submit" value="Log in">
        </form>
        <img class="img" src="/sushi-png.png" alt="Sushi" width="200" height="180">
    </div>

</div>