<div class="main-content" id="food">
    <div class="first-row">
        <div class="food1">
            <img src="/cheesecake.jpg" alt="Cheesecake" width="250" height="350">
            <!--<h3>No-Bake Cheesecake</h3>--><br/><br/>
            <a class="names" href="cheesecake">No-Bake Cheesecake</a>
        </div>
        <div class="food2">
            <img src="/salmon.jpg" alt="Salmon" width="250" height="350">
            <!--<h3>Garlic Salmon</h3>--><br/><br/>
            <a class="names" href="salmon">Garlic Salmon</a>
        </div>
    </div>
    <div class="second-row">
        <div class="food3">
            <img src="/carbonara.jpg" alt="Carbonara" width="250" height="350">
            <!--<h3>Pasta Carbonara</h3>--><br/><br/>
            <a class="names" href="carbonara">Pasta Carbonara</a>
        </div>
        <div class="food4">
            <img src="tiramisu.jpg" alt="Tiramisu" width="250" height="350">
            <!--<h3>Italian Tiramisu</h3>--><br/><br/>
            <a class="names" href="tiramisu">Italian Tiramisu</a>
        </div>
    </div>
    <div class="third-row">
        <div class="food5">
            <img src="/apple-pie-2.jpg" alt="ApplePie" width="250" height="350">
            <!--<h3>Apple Pie</h3>--> <br/> <br/>
            <a class="names" href="pie">Apple Pie</a>
        </div>
        <div class="food6">
            <img src="/soup.jpg" alt="Soup" width="250" height="350">
            <!--<h3>Chicken Soup</h3>--><br/><br/>
            <a class="names" href="soup">Chicken Soup</a>
        </div>
    </div>
    <div class="forth-row">
        <div class="food7">
            <img src="/paella.jpg" alt="Paella" width="250" height="350">
            <!--<h3>Seafood Paella</h3>--><br/><br/>
            <a class="names" href="paella">Seafood Paella</a>
        </div>
        <div class="food8">
            <img src="/pancakes.jpg" alt="Pancakes" width="250" height="350">
            <!--<h3>Pancakes</h3>--><br/><br/>
            <a class="names" href="pancake">Pancakes</a>
        </div>
    </div>
</div>
